@font-face {
    font-family: 'Akkurat Pro';
    src: url('AkkuratPro-Regular.woff2') format('woff2'),
        url('AkkuratPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

